.sc-beySbM.ejhWCc{
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    padding: 10px !important;
    height: 220px !important;
    justify-content: center !important;
    align-items: center !important;
    max-width: none !important;
    min-width: 200px !important;
}
.sc-beySbM.ejhWCc svg{
    display: none;
}
.sc-dmyDGi.fnywRa{
    height: 10px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.file-types{
    display: none;
}
.sc-hLQRIN.bmYTbW{
    font-size: large;
}
@media(max-width:400px){
    .sc-hLQRIN.bmYTbW {
        font-size: small !important;
    }
}
/* .sc-hLQRIN.bmYTbW::before {
    content: 'whatever it is you want to add ';
} */