.paginationContainer ul{
    display: flex;
    gap: 1rem;
}
.paginationContainer li{
    padding: 0.5rem;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationContainer li.selected{
    background-color: var(--h2s--google--blue);
    color: white;
}