@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/authpages.css";

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}
@import '../public/fonts/google-sans-cufonfonts-webfont/style.css';
/* Pagination */
@import './common/components/pagination/pagination.css';
/* Date Picker */
@import './common/components/event/datePicker.css';
/* Dropper */
@import './common/components/dropper/dropper.css';
/* Calendar */
@import './common/components/calendar/calendar.css';
/* User Event Page */
@import './pages/userEvent.css';
:root {
  --h2s--purple: #000A86;
  --h2s--darkBlue: #1E3354;
  --h2s--blue: #000DB7;
  --h2s--google--blue: #2582F9;
  --h2s-gray: #747474;
}
*{
  border: 0;
  padding: 0;
  font-family:'Product Sans Regular' ;
}
hr{
  height: 0.5px !important;
}
.light-shadow{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.h2s-button{
  /* background: rgb(99,0,209);
  background: linear-gradient(90deg, rgba(99,0,209,1) 0%, rgba(0,13,183,1) 100%); */
  background-color: #2582F9;
  border-radius: 5px;
  color: white;
  padding: 0.3rem 2rem;
  cursor: pointer;
}
.h2s-button-disabled{
  /* background: rgb(99,0,209);
  background: linear-gradient(90deg, rgba(99,0,209,1) 0%, rgba(0,13,183,1) 100%); */
  background-color: #c4c4c4 !important;
  border-radius: 5px;
  color: white;
  padding: 0.3rem 2rem;
  cursor: pointer;
}
.h2s-gray-button{
  background-color: #DADADA;
  border-radius: 5px;
  color: var(--h2s--darkBlue);
  padding: 0.3rem 2rem;
  cursor: pointer;
}
.h2s-blue-button{
  background-color: #2582F9;
  border-radius: 0px 8px 8px 0px;
  color: white;
  font-size: small;
  padding: 0.5rem 0.8rem;
  cursor: pointer!important;
}
.certerPageItems{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc( 100vh - 55px);
}
@media(max-width:1023.5px){
  .colMd{
    height: 100% !important;
  }
}
.createEvent{
  padding: 1rem !important;
}
.thead{
  border-radius: 15px 15px 0 0;
}
.dateSlotsContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;

}
.dateSlotsContainer div{
  width: 200px;
}

@media(max-width:420px){
  .dateSlotsContainer div{
    width: 130px;
  }
}

@media(max-width:768px){
  .secondNav{
    width: 90vw;
    overflow-x: scroll;
  }
  .whiteSpaceNoWrap{
    white-space: nowrap;
  }
  .x-scroll{
    overflow-x: scroll;
  }
}
@media(max-width:1024px){
  .mdlight-shadow{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }
}